@import 'variables.css';

.Modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: calc(var(--zindex-modal));
  display: flex;
  justify-content: center;
  align-items: center;
}

.Backdrop {
  background: var(--color-backdrop);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: calc(var(--zindex-modal) - 1);
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms;
  will-change: opacity;

  &.BackdropIsVisible {
    pointer-events: all;
    opacity: 1;
  }
}

.Content {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  z-index: var(--zindex-modal);
  background: #fff;
  opacity: 0;
  padding: calc(var(--grid-step-size) * 2) calc(var(--grid-step-size) * 3);
  pointer-events: all;
  will-change: opacity, transform;
  font-family: var(--font-family-default);
  box-sizing: border-box;

  &.ContentSizeS {
    min-width: calc(var(--grid-step-size) * 30);
    max-width: 100vw;
  }

  &.ContentSizeM {
    min-width: 61vw;
    max-width: 100vw;
  }

  &.ContentAttachedSidebar {
    left: var(--sidebar-width);
    top: 0;
  }

  &.ContentAttachedLeft {
    left: 0;
    top: 0;
  }

  &.ContentAttachedRight {
    right: 0;
    top: 0;
  }

  &.ContentAttachedCenter {
    max-width: calc(var(--grid-step-size) * 46);
    width: auto;
    height: auto;
    top: 0;
  }
}

.Title {
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: 600;

  &::after {
    content: '';
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 100%;
    height: 1px;
    background: var(--color-brand-dark);
    opacity: 0.1;
    margin-top: calc(var(--grid-step-size) * 2);
    margin-bottom: calc(var(--grid-step-size) * 2);
    border: none;
  }
}

.Row {
  display: flex;
  margin-bottom: var(--grid-step-size);
}
