<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>wolkenkit-boards</title>
    <style>
      body {
        background: #333;
        overflow-y: scroll;
      }

      .Shell {
        position: absolute;
        left: 0; top: 0; right: 0; bottom: 0;
        margin: 0; padding: 0;
      }

      @keyframes spinner-grow-animation {
        0% {
          transform: scale(1);
        }
        20% {
          transform: scale(1, 2);
        }
        40% {
          transform: scale(1);
        }
      }

      .Spinner {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .SpinnterItem {
        display: inline-block;
        width: 4px;
        height: 14px;
        margin-right: 2px;
        animation: spinner-grow-animation 1000ms linear infinite;
        will-change: transform;
      }

      .SpinnerTypeFullscreen {
        position: absolute;
        left: 0; top: 0; right: 0; bottom: 0;
      }

      .ui-spinner--inactive .SpinnterItem {
        animation: none;
      }

      .SpinnterItem:nth-child(1) {
        background-color: #FBF937;
        animation-delay: 0;
      }

      .SpinnterItem:nth-child(2) {
        background-color: #fd765e;
        animation-delay: 80ms;
      }

      .SpinnterItem:nth-child(3) {
        background-color: #96e55d;
        animation-delay: 160ms;
      }

      .SpinnterItem:nth-child(4) {
        background-color: #51ADEE;
        animation-delay: 240ms;
      }
    </style>
  </head>
  <body>
    <div class="Shell">
      <div class='Spinner SpinnerTypeFullscreen'>
        <div class='SpinnterItem'></div>
        <div class='SpinnterItem'></div>
        <div class='SpinnterItem'></div>
        <div class='SpinnterItem'></div>
      </div>
    </div>
  </body>
</html>
