@import '../../theme/variables.css';

.Container {
  position: absolute;
  background: var(--color-panel-background);
  border-radius: var(--panel-border-radius);
  min-width: calc(var(--grid-step-size) * 15);
  z-index: var(--z-index-menu);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}

.ContextMenu {}
