.ui-context-menu-panel {
  position: absolute;
  background: $color-panel-background;
  border-radius: $panel-border-radius;
  min-width: $grid-step-size * 15;
  z-index: $z-index-menu;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}

.ui-menu-context .ui-menu-item {
  font-size: $font-size-medium;
  line-height: $font-size-medium;
  padding: 10px 18px;
}

.ui-menu-context .ui-menu-item:first-child {
  background-image: none;
}

.ui-context-menu.anchor-top {
  background: transparent;
  width: 35px;
}
