@value (
  color-text-default,
  color-brand-light-grey,
  color-brand-featured,
  color-brand-highlight,
  font-size-large,
  font-size-medium,
  grid-step-size
) from '../../theme/index.css';

.MenuItem {
  display: block;
  position: relative;
  line-height: calc(grid-step-size * 6);
  color: color-text-default;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    background: color-brand-light-grey;
    margin: 0;
  }

  &:hover::after {
    display: none;
  }

  &:hover {
    color: color-brand-highlight;
    background: color-brand-featured;
  }
}

.SizeS {
  font-size: font-size-medium;
  line-height: font-size-medium;
  padding: 10px 18px;
}

.SizeM {
  font-size: font-size-large;
  line-height: calc(grid-step-size * 5);
  padding: 0 calc(grid-step-size * 3);
}
