.ui-menu {
  margin: 0;
  padding: 0;
}

.ui-menu .ui-menu-item {
  display: block;
  position: relative;
  font-size: $font-size-large;
  line-height: $grid-step-size*6;
  color: $color-text-default;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.ui-menu .ui-menu-item::after {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  background: $color-brand-light-grey;
  margin: 0;
}

.ui-menu .ui-menu-item:hover::after {
  display: none;
}

.ui-menu.ui-menu-main .ui-menu-item,
.ui-menu.ui-autocomplete .ui-menu-item {
  padding: 0 $grid-step-size*3;
}

.ui-menu .ui-menu-item:hover {
  color: $color-brand-highlight;
  background: $color-brand-featured;
}
