@import 'variables.css';

.MenuItem {
  display: block;
  position: relative;
  line-height: calc(var(--grid-step-size) * 6);
  color: var(--color-text-default);
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-brand-light-grey);
    margin: 0;
  }

  &:hover::after {
    display: none;
  }

  &:hover {
    color: var(--color-brand-white);
    background: var(--color-brand-highlight);
  }
}

.SizeS {
  font-size: var(--font-size-medium);
  line-height: var(--font-size-medium);
  padding: 10px 18px;
}

.SizeM {
  font-size: var(--font-size-medium);
  line-height: calc(var(--grid-step-size) * 5);
  padding: 0 calc(var(--grid-step-size) * 3);
}
