@import 'variables.css';

.SidebarMenu {
  height: calc(var(--grid-step-size) * 4);
  width: calc(var(--grid-step-size) * 4);
}

.Container {
  & .Backdrop {
    background: var(--color-backdrop);
    position: fixed;
    left: 0;
    top: calc(var(--grid-step-size) * 4);
    height: calc(100% - var(--grid-step-size) * 4);
    width: 100%;
    overflow: hidden;
    z-index: var(--zindex-navigation);
    opacity: 0;
    transition: opacity 300ms;
    will-change: opacity;
    pointer-events: none;
  }

  & .Menu {
    position: fixed;
    z-index: var(--zindex-navigation);
    left: 0;
    top: calc(var(--grid-step-size) * 4);
    width: var(--sidebar-width);
    height: calc(100% - var(--grid-step-size) * 4);
    background: var(--color-panel-background);
    border-top: 1px solid var(--color-brand-light-grey);
    will-change: transform;
  }
}

.Toggles {
  position: relative;

  & .Toggle {
    position: absolute;
    height: calc(var(--grid-step-size) * 4);
    width: calc(var(--grid-step-size) * 4);
    display: none;
    margin: 0;
  }
}

.IsExpanded {
  & .Backdrop {
    opacity: 1;
    pointer-events: all;
  }

  & .ToggleCollapse {
    display: flex;
  }
}

.IsCollapsed {
  & .ToggleExpand {
    display: flex;
  }
}
