@import 'variables.css';

.Form {
  margin-left: var(--grid-step-size);
  font-size: var(--font-size-medium);
  margin-bottom: 1px;

  & .TextBox {
    padding: 0.1em 0.5em 0.2em;
    min-width: 250px;
    background: transparent;
    border: 1px transparent solid;
    transition: border 400ms, background 400ms;

    &:hover,
    &:focus {
      background: var(--color-brand-white);
      border: 1px solid var(--color-brand-dark);
      color: var(--color-text-default);
    }
  }
}
