@value (
  color-text-default,
  font-family-default,
  font-size-default
) from '../theme/index.css';

:global body {
  background: #333 url('../themes/default/images/background.png') left top repeat;
  color: color-text-default;
  font-size: font-size-default;
  font-family: font-family-default;
  letter-spacing: -0.02em;
  line-height: 1.5em;
  overflow-y: scroll;

  & a {
    color: #aaa;
    text-decoration: none;
  }

  & ::selection {
    background: #aaa !important;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5 {
    font-weight: normal;
  }
}

.App {
  display: flex;
  flex-direction: column;
}
