@value (
  grid-step-size
) from '../../theme/index.css';

.BoardsScreen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: calc(grid-step-size * 6) 0;

  & .List {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 50%;
  }
}
