@import 'variables.css';

.Breadcrumbs {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  margin-left: calc(var(--grid-step-size) * 2);
  align-items: center;

  & .BackLink {
    position: relative;
    text-decoration: none;
    margin-right: calc(var(--grid-step-size) * 3);

    & .BackButton {
      margin: 0;
    }
  }

  & .BackLink:hover {
    color: var(--color-brand-highlight);

    & .BackLinkIcon {
      fill: var(--color-brand-highlight);
    }
  }

  & .BackLink::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 1px;
    background: var(--color-brand-dark);
    top: calc(50% - 10px);
    right: 0;
    margin-right: -15px;
  }

  &.disabled {
    display: none;
  }
}
