.ui-color-toggle {
  height: $grid-step-size * 3;
  overflow: none;
  display: flex;
  justify-content: flex-end;
}

.ui-color-toggle .ui-color-toggle__button {
  width: $grid-step-size * 3;
  height: $grid-step-size * 3;
  cursor: pointer;
  display: block;
  user-select: none !important;
}

.ui-color-toggle .ui-color-toggle__button:hover .color {
  height: 14px;
}

.ui-color-toggle .ui-color-toggle__button.selected .color {
  height: 14px;
}

.ui-color-toggle .color {
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 6px;
  margin-left: 5px;
  transition: height 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.ui-color-toggle .ui-color-toggle__button:last-child .color {
  margin-right: 0;
}

.ui-color-toggle .color[data-type=yellow] {
  background-color: #ff9;
}

.ui-color-toggle .color[data-type=red] {
  background-color: #fd765e;
}

.ui-color-toggle .color[data-type=green] {
  background-color: #96e55d;
}

.ui-color-toggle .color[data-type=paper-lined] {
  background: #f2f1f0;
}
