.ui-dialog {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  pointer-events: none;

  .ui-dialog__backdrop {
    background: $color-backdrop;
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    overflow: hidden;
    z-index: $z-index-modal;
    pointer-events: all;
  }

  .ui-dialog__backdrop.hidden {
    display: none;
  }

  .ui-dialog__chrome {
    position: fixed;
    width: $sidebar-width;
    height: 100%;
    z-index: $z-index-modal;
    padding: $grid-step-size * 6 0 0 0;
    margin: 0;
    background: $color-panel-background;
    opacity: 0;
    pointer-events: all;
    will-change: opacity, transform;

    .dialog-titlebar {
      position: absolute;
      top: 0;
      width: 100%;
      box-sizing: border-box;
    }

    .dialog__titlebar .dialog__titlebar__close {
      position: absolute;
      top: $grid-step-size;
      left: $grid-step-size;
      margin: 0;
      padding: 0;

      svg {
        fill: $color-brand-dark;
      }
    }

    .dialog__content {
      padding: 0;
      margin: 0;
      overflow: hidden;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}
