@import '../theme/variables.css';

.DialogChrome {
  position: fixed;
  width: var(--sidebar-width);
  height: 100%;
  z-index: var(--zindex-modal);
  padding: calc(var(--grid-step-size) * 6) 0 0 0;
  margin: 0;
  background: var(--color-panel-background);
  opacity: 0;
  pointer-events: all;
  will-change: opacity, transform;

  & .Content {
    padding: 0;
    margin: 0;
    overflow: hidden;

    & img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}
