@import '../theme/variables.css';

.Dialog {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  & .Backdrop {
    background: var(--color-backdrop);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: var(--z-index-modal);
    pointer-events: all;
    opacity: 1;
    transition: opacity 300ms;
    will-change: opacity;
  }

  & .BackdropHidden {
    pointer-events: none;
    opacity: 0;
  }
}
