@import 'variables.css';

.Form {
  /* Left blank intentionally */
}

.Row {
  text-align: left;
  padding: var(--grid-step-size) 0;
  font-size: var(--font-size-default);
  line-height: 28px;

  &:first-child {
    padding: calc(var(--grid-step-size) * 2) calc(var(--grid-step-size) * 3) var(--grid-step-size) calc(var(--grid-step-size) * 3);
  }

  & input[type='text'],
  & textarea {
    width: 100%;
  }

  & input[type='checkbox'] {
    display: inline-block;
    margin: 0 var(--grid-step-size) 0 0;
  }
}

.HorizontalContentAlignLeft {
  display: flex;
  justify-content: flex-start;
}

.VerticalContentAlignCenter {
  display: flex;
  align-items: center;
}

.RowTypeMessage {
  color: var(--color-text-default);
  font-weight: 700;
}

.RowTypeActionButtons {
  display: flex;
  flex-direction: column;

  & * {
    margin-left: 0;
    margin-right: 0;
  }
}
