@import '../theme/variables.css';

.Icon {
  width: 24px;
  height: 24px;
}

p .Icon {
  margin-bottom: -2px;
}

.SizeXS {
  width: var(--icon-dimension-xsmall);
  height: var(--icon-dimension-xsmall);
}

.SizeS {
  width: var(--icon-dimension-small);
  height: var(--icon-dimension-small);
}

.SizeM {
  width: var(--icon-dimension-medium);
  height: var(--icon-dimension-medium);
}

a .Icon {
  fill: currentColor;
}
