@value (
  color-brand-dark,
  color-brand-light-grey,
  font-size-large,
  grid-step-size
) from '../theme/index.css';

.ListItem {
  & .IconLeft {
    margin-right: grid-step-size;
  }

  & .Label {
    flex-grow: 1;
    flex-shrink: 1;
  }

  & .IconRight {
    margin-left: calc(grid-step-size * 2);
  }
}

.TypeAdd {
  display: flex;

  & .Button {
    padding: calc(grid-step-size * 3) calc(grid-step-size * 3.5);
    font-size: inherit;
    font-weight: inherit;
  }
}

.TypeLink {
  opacity: 0;

  & .ContextMenuButton {
    opacity: 0;
  }

  & .Link {
    display: block;
    display: flex;
    align-items: center;
    padding: calc(grid-step-size * 3) calc(grid-step-size * 3.5);
    font-size: font-size-large;
    color: color-brand-dark;
    border-bottom: 1px solid color-brand-light-grey;
  }

  &:hover {
    background: color-brand-light-grey;

    & .ContextMenuButton {
      opacity: 1;
    }
  }
}
