@import 'variables.css';

.NonIdealState {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--grid-step-size) * 6);

  & .Message {
    text-align: center;
    max-width: 50%;
    font-size: var(--font-size-large);
    color: var(--color-brand-dark);
  }
}
