.ui-non-ideal-state {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $grid-step-size*6;


  .ui-non-ideal-state__message {
    text-align: center;
    max-width: 50%;
    font-size: $font-size-large;
    color: $color-brand-grey;
  }
}
