.ui-posts {
  position: relative;
  width: 1280px;
  height: 962px;
  margin: 0 auto;
  user-select: none;
  background: url('themes/default/images/board-background.png') left top no-repeat;
  opacity: 1;
  overflow: visible;
}
