@import '../theme/variables.css';

.Container {
  will-change: transform;
  backface-visibility: hidden;
  position: absolute;
}

.Post {
  position: absolute;
  cursor: move;
  width: 186px;
  max-height: 280px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-size: var(--font-size-medium);
  line-height: 20px;
  color: #222;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 3px solid transparent;
  opacity: 0;
  will-change: transform, opacity;
  backface-visibility: hidden;

  &.IsDragging {
    transition: transform 50ms linear !important;
  }

  & .Meta {
    position: relative;
    height: 35px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    font-size: var(--font-size-small);
    line-height: 35px;
    flex: 0 0 35px;
    display: flex;
    justify-content: space-between;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: var(--grid-step-size);
      right: var(--grid-step-size);
      height: 1px;
      background: rgba(0, 0, 0, 0.25);
    }

    & .Author {
      flex-grow: 1;
      flex-shrink: 1;
      color: rgba(0, 0, 0, 0.5);
      margin-left: var(--grid-step-size);
    }

    & .MetaButton {
      display: flex;
      margin-right: var(--grid-step-size);

      & svg {
        fill: rgba(0, 0, 0, 0.5);
      }

      &:hover svg {
        fill: rgba(0, 0, 0, 0.8);
      }
    }
  }

  &.IsSelected {
    border: 3px solid #fff;
  }

  &.ColorYellow {
    background-color: #ff9;
  }

  &.ColorRed {
    background-color: #fd765e;
  }

  &.ColorGreen {
    background-color: #96e55d;
  }

  &.ColorPaperLined {
    background: #f2f1f0 url('../theme/images/post-paper-lined-background.svg') 10px -2px repeat-y;

    & .Meta {
      background: #f2f1f0;
    }
  }

  &.IsDone {
    transition: opacity 0.25s ease-out;
    opacity: 0.2 !important;
  }
}

.PostTypeText {
  & .Content {
    outline: 0px;
    background: none;
    width: 100%;
    min-height: 150px;
    max-height: 224px;
    resize: none;
    box-sizing: border-box;
    padding: 9px 10px;
    margin: 0px;
    font-weight: inherit;
    font: inherit;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    position: relative;

    & a {
      white-space: inherit;
      word-wrap: break-word;
      color: inherit;
    }
  }

  & .Content.IsEditing {
    cursor: text;
  }

  &.ColorGreen.IsEditing {
    border-color: #396f12;
  }

  &.ColorPaperLined.IsEditing {
    border-color: #6b89a2;
  }

  &.ColorRed.IsEditing {
    border-color: #ab1c02;
  }

  &.ColorYellow.IsEditing {
    border-color: #7a7a00;
  }
}

.PostTypeImage {
  background: var(--color-brand-highlight) !important;
  border: 0px;
  padding: 0px;
  margin: 0px;
  height: auto;
  overflow: hidden;
  white-space: normal;
  display: flex;
  flex-direction: column;

  & .Content {
    max-height: 186px;

    & img {
      pointer-events: none;
      width: 100%;
      flex: 1 1 auto;
    }
  }

  & .Meta {
    &::after {
      display: none;
    }
  }
}
