@import '../theme/variables.css';

.TextBox {
  padding: 0.5em 0.6em;
  border: 1px solid var(--color-brand-light-grey);
  box-sizing: border-box;
  outline: none;
  font-size: inherit;
  text-overflow: ellipsis;
  user-select: text;

  &:focus {
    border-color: var(--color-brand-grey);
  }
}

.TypeDense {
  padding: 0.1em 0.5em 0.2em;
}
