@import '../../theme/variables.css';

.Overlays {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: var(--z-index-overlay);
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
