@import '../../theme/variables.css';

.Notification {
  padding: 10px 15px;
  background: var(--color-brand-highlight);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: var(--grid-step-size);
  font-family: var(--font-family-default);

  &.TypeError {
    color: var(--color-brand-highlight);
    background: #e7415d;
  }

  &.TypeSuccess {
    color: var(--color-brand-highlight);
    background: #27ae60;
  }
}
