:root {
  --color-brand-dark: #23232c;
  --color-brand-highlight: #51adee;
  --color-brand-dark-grey: #354247;
  --color-brand-light-grey: #ddd;
  --color-brand-white: #fff;

  /* Semantic colors */
  --color-interaction-focus: var(--color-brand-dark);
  --color-content-border: var(--color-brand-light-grey);
  --color-text-default: var(--color-brand-dark-grey);
  --color-backdrop: rgba(0, 0, 0, 0.5);
  --color-panel-background: rgba(255, 255, 255, 0.95);

  /* Typography */
  --font-size-tiny: 12px;
  --font-size-small: 14px;
  --font-size-default: 16px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
  --font-size-xlarge: 22px;
  --font-family-default: 'Source Sans Pro', Arial, Helvetica, sans-serif;

  /* Z-Index */
  --zindex-content: 100;
  --zindex-content-overlay: 100;
  --zindex-navigation: 1000;
  --zindex-menu: 2000;
  --zindex-modal: 3000;
  --zindex-overlay: 4000;
  --zindex-transfer: 5000;

  /* Components */
  --components-border-radius-default: 1px;
  --icon-size-xsmall: 14px;
  --icon-size-small: 16px;
  --icon-size-medium: 24px;
  --icon-size-large: 32px;
  --icon-size-xlarge: 48px;
  --icon-size-xxlarge: 64px;

  /* Components */
  --grid-step-size: 10px;
  --sidebar-width: 300px;
  --panel-border-radius: 1px;
  --button-border-radius: 2px;
}
