@import '../../theme/variables.css';

.BoardScreen {
  position: absolute;
  width: 100%;
  height: 100%;

  & .ColorToggle {
    position: fixed;
    left: 50%;
    margin-left: -62px;
    top: calc(var(--grid-step-size) * 4);
    z-index: var(--z-index-content-overlay);
  }
}
